.root {
  padding: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.form {
  > * {
    display: block;
  }
}

.field {
  margin-bottom: 6px;
}

.wrapBtns {
  display: flex;
  width: 100%;

  > * {
    flex-grow: 1;
  }
}

.field {
  width: 100%;
}
