.root {
  margin-bottom: 8px;
  padding: 6px 8px;
  border-radius: 6px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  cursor: pointer;
  display: block;
  width: 100%;
  text-align: initial;

  &:last-child {
    margin-bottom: 0;
  }
}

.title {
  font-size: 14px;
  line-height: 1.4;
}
