.root {
  overflow-x: auto;
  width: 100%;
  max-width: 100%;
  min-width: 300px;
  height: calc(100vh - 112px);
  user-select: none;
  white-space: nowrap;
  padding-bottom: 20px;

  @media (max-width: 768px) {
    height: calc(100vh - 138px);
  }
}
