.root {
  overflow-y: auto;
  padding: 0 10px 12px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 300px;
}

.title {
  margin-bottom: 16px;
}
